body {
    font: 12px/180% Arial, Helvetica, Verdana;
    color: #5a5a5a;
    margin: 0;
    background: url(../images/background.gif);
}
span{
    color: aliceblue;
    font: 10px/180%  Arial, Helvetica, Verdana;

}
.el-select-dropdown__item span{
    color: #58595b;
}
.table-cell{
    color: #58595b;;
    font: 13px/180%  Arial, Helvetica, Verdana;
}
.el-table td,.el-table-th{
    text-align: center;
    
}
.el-menu{
    width: 200px;
    height: 80px;
    text-align: center;

}
.el-main #search{
    display:flex;
    justify-content: center;
    margin-bottom: 20px;
}
#search td{
    padding-left: 20px;
}
.el-main #resultTable{
    display:flex;
    justify-content: center;
}
.el-header {
    background-color: #B3C0D1;
    color: #333;
    line-height: 50px;
  }
.el-aside {
    overflow: hidden;
    background-color: #fff;
  }

.el-button{
    text-decoration: none;
    color: #58595b;
}

.cancel:hover{
    color: #206fd5;
}
.edit-cell{
    border: 1px solid #cad2db;
    /* background: url(txt_input_bg.gif) no-repeat; */
    padding: 0 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    line-height: 36px;

    font-size: 14px;
    color: #717171;
    font-family: Arial;

    width: 80px;
}
.el-date-picker span{
    color: #000;
}

.el-select{
    color: #58595b;
    width: 80px;
}
.el-scrollbar{
    color: #58595b;
}

#headTable td {
    padding-left: 20px;
    font: 20px/180%  Arial, Helvetica, Verdana;
    color: aliceblue;
}
p{
    font: 20px/180%  Arial, Helvetica, Verdana;
}

#resultTable{
    margin-top: 20px;
    font: 20px/180%  Arial, Helvetica, Verdana;
}
#noResult{
    text-align: center;
    margin-top: 100px;
}
A:link {
    text-decoration: none;
    color: #58595b;
  }
A:visited {
    text-decoration: none;
    color: #58595b;
  }
A:hover {
    text-decoration: none;
    color: #206fd5;
  }

#import{
    text-align: center;
    /* height: 40px; */
}

.demo-table-expand {
    font-size: 0;
  }
  .demo-table-expand label {
    width: 90px;
    color: #99a9bf;
  }
  .demo-table-expand .el-form-item {
    margin-right: 0;
    margin-bottom: 0;
    width: 25%;
  }