@charset "utf-8";
/*------------// Overall //------------------*/
body {
  font: 12px/180% Arial, Helvetica, Verdana;
  color: #5a5a5a;
  margin: 0;
  background: url(/images/background.gif);
}
table,td {
  font: 12px/180% Arial, "宋体", Helvetica, sans-serif, Verdana;
  color: #58595b;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
  empty-cells: show;
}
th,td {
  padding-left: 10px;
  padding-bottom: 10px;
  border-collapse: collapse;
}
tr {
  margin-bottom: 10px;
}
A:link {
  text-decoration: none;
  color: #58595b;
}
A:visited {
  text-decoration: none;
  color: #58595b;
}
A:hover {
  text-decoration: none;
  color: #206fd5;
}
img {
  border: 0;
}
div,p,img,ul,li,form,input,label,span,dl,dt,dd,h1,h2,h3,h4,h5,h6 {
  margin: 0;
  padding: 0;
}


#title {

  font: 20px/180%  Arial, "宋体", Helvetica, sans-serif, Verdana;
  font-weight: 700;
  color: #58595b;
  text-align: center;
  
}
h2 {
  color: #4f5d80;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: normal;
  margin-bottom: 11px;
}


input {

  border: 1px solid #cad2db;
  /* background: url(txt_input_bg.gif) no-repeat; */
  padding: 0 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  line-height: 36px;

  font-size: 14px;
  color: #717171;
  font-family: Arial;
}

input:focus {
  transition: border linear 0.2s, box-shadow linear 0.2s;
  -moz-transition: border linear 0.2s, -moz-box-shadow linear 0.2s;
  -webkit-transition: border linear 0.2s, -webkit-box-shadow linear 0.2s;
  outline: none;
  box-shadow: 0 0 8px rgba(173, 173, 173, 0.5);
  -moz-box-shadow: 0 0 8px rgba(173, 173, 173, 0.5);
  -webkit-box-shadow: 0 0 8px rgba(173, 173, 173, 3);
  border: 1px solid #6192c8;
}

input.sub_button {
  float: right;
  width: 122px;
  height: 32px;
  background: url(../images/site_bg.png?t=xxx) no-repeat -153px -850px;
  border: none;
  color: #fff;
  padding-bottom: 2px;
  font-size: 14px;
  font-weight: bold;
}

input.sub_button:hover {
  background-position: -153px -882px;
  cursor: pointer;
}


