<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.protectdev.manage.mapper.DeviceMapper">
    <resultMap id="Device" type="com.protectdev.manage.pojo.Device">
        <id column="id" property="id"></id>
        <result column="dev_id" property="devId"></result>
        <result column="dev_name" property="devName"></result>
        <result column="RDev_type" property="RDevType"></result>
        <result column="pro_name" property="proName"></result>
        <result column="switch_id" property="switchId"></result>
        <result column="location" property="location"></result>
        <result column="dev_fav" property="devFac"></result>
        <result column="tem_id" property="temId"></result>
        <result column="soft_id" property="softId"></result>
        <result column="fault_id" property="faultId"></result>
        <result column="deadline" property="deadline"></result>
    </resultMap>

    <select id="getDeviceById" parameterType="String" resultType="com.protectdev.manage.pojo.Device" resultMap="Device">
        select *
        from device
        where dev_id = #{devId}
    </select>

    <select id="getDevice" resultType="com.protectdev.manage.pojo.Device" resultMap="Device">
        select *
        from device
        where
              <if test="devId != null"> dev_id = #{devId}</if>
        <if test="devName != null and devId != null">and</if>
              <if test="devName != null"> dev_name = #{devName} </if>
        <if test="(devId != null or devName != null) and devFac != null "> and </if>
              <if test="devFac != null"> dev_fac = #{devFac} </if>
        <if test="(devId != null or devName != null or devFac != null) and location != null"> and </if>
              <if test="location != null"> location like concat('%',#{location},'%')</if>
    </select>


</mapper>