<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.protectdev.manage.mapper.FaultMapper">
    <resultMap id="Fault" type="com.protectdev.manage.pojo.Fault">
        <id column="fault_id" property="faultId"></id>
        <result column="fault_desc" property="faultDesc"></result>
        <result column="dev_id" property="devId"></result>
        <result column="up_user_id" property="upUserId"></result>
        <result column="up_time" property="upTime"></result>
    </resultMap>

    <select id="getFaultByFaultId" parameterType="int" resultMap="Fault">
        select *
        from fault
        where fault_id = #{faultId}
    </select>

    <select id="getFaultList" resultMap="Fault">
        select *
        from fault
    </select>
</mapper>