<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.protectdev.manage.mapper.FaultMapper">
    <resultMap id="Fault" type="com.protectdev.manage.pojo.Fault">
        <id column="fault_id" property="faultId"></id>
        <result column="fault_desc" property="faultDesc"></result>
        <result column="dev_id" property="devId"></result>
        <result column="up_user_id" property="upUserId"></result>
        <result column="up_time" property="upTime"></result>
    </resultMap>

    <select id="getFaultByFaultId" parameterType="int" resultMap="Fault">
        select *
        from fault
        where fault_id = #{faultId}
    </select>

    <select id="getFaultList" resultMap="Fault">
        select *
        from fault
    </select>

    <update id="updateFault">
        update fault
        set fault_desc = #{faultDesc},up_user_id=#{upUserId},up_time = now()
        where fault_id = #{faultId}
    </update>


    <insert id="addFault" parameterType="com.protectdev.manage.pojo.Fault" useGeneratedKeys="true" keyProperty="faultId">

        insert into fault(fault_desc, up_user_id, up_time, dev_id)
        VALUES (#{faultDesc},#{upUserId},now(),#{devId})

    </insert>
    
    <delete id="deleteFault">
        delete from fault
        where fault_id = #{faultId}
    </delete>

</mapper>