<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.protectdev.manage.mapper.SoftwareMapper">
    <resultMap id="Software" type="com.protectdev.manage.pojo.Software">
        <id column="id" property="id"></id>
        <result column="soft_id" property="softId"></result>
        <result column="soft_name" property="softName"></result>
        <result column="soft_fac" property="softFac"></result>
        <result column="soft_ver" property="softVer"></result>
        <result column="dev_id" property="devId"></result>
    </resultMap>

    <select id="getSoftById" parameterType="int" resultMap="Software">
        select *
        from software
        where id = #{id}
    </select>

    <update id="updateSoft">

        update software
        set soft_id = #{softId},soft_fac = #{softFac},soft_name = #{softName},soft_ver = #{softVer}
        where id = #{id}

    </update>


    <insert id="addSoft" parameterType="com.protectdev.manage.pojo.Software"  useGeneratedKeys="true" keyProperty="id">
        insert into software(soft_id, soft_name, soft_fac, soft_ver, dev_id)
        values (IFNULL(#{softId},null),#{softName},#{softFac},#{softVer},#{devId})
    </insert>

    <delete id="deleteSoft">
        delete from software
        where id = #{softId}
    </delete>

</mapper>