<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.protectdev.manage.mapper.UserMapper">
        <resultMap id="User" type="com.protectdev.manage.pojo.User">
            <id column="user_id" property="userId"></id>
            <result column="job_id" property="jobId"></result>
            <result column="name" property="name"></result>
            <result column="username" property="username"></result>
            <result column="password" property="password"></result>
            <result column="permission" property="permission"></result>
            <result column="phoneNum" property="phoneNum"></result>
            <result column="login_time" property="loginTime" ></result>
            <result column="ps_modify_time" property="psModifyTime"></result>
        </resultMap>


        <select id="idNameCheck" parameterType="String" resultType="com.protectdev.manage.pojo.User" resultMap="User">
            select *
            from `user`
            where job_id = #{jobId} and `name` = #{name}
        </select>

        <select id="usernameCheck" parameterType="String" resultType="com.protectdev.manage.pojo.User" resultMap="User">
            select *
            from `user`
            where username = #{username}
        </select>

        <update id="register">
            update `user`
            set username = #{username} , password = #{password} , ps_modify_time = now()
            where job_id = #{jobId} and `name` = #{name}
        </update>

        <select id="login" parameterType="com.protectdev.manage.pojo.User" resultType="com.protectdev.manage.pojo.User" resultMap="User">
            select *
            from `user`
            where username = #{username} and password = #{password}
        </select>

        <update id="updateLoginTime" parameterType="com.protectdev.manage.pojo.User" >
            update `user`
            set login_time = now()
            where job_id = #{jobId} and `name` = #{name}
        </update>


        <select id="getUser" parameterType="com.protectdev.manage.pojo.User" resultMap="User">
            select user_id,job_id,name,username,phoneNum,permission,login_time
            from `user`
            where <if test="jobId != null">job_id = #{jobId} </if>
                  <if test="jobId != null and name != null">and</if>
                  <if test="name != null"> name = #{name} </if>
                  <if test="username!=null and (jobId != null or name != null)"> and </if>
                  <if test="username != null">username = #{username}</if>
        </select>

        <update id="updateUser" parameterType="com.protectdev.manage.pojo.User">
            update `user`
            set
                <if test="jobId != null">job_id = #{jobId}</if>
                <if test="name != null">,name = #{name}</if>
                <if test="permission != null">,permission = #{permission}</if>
                <if test="phoneNum != null">,phoneNum = #{phoneNum}</if>
                <if test="loginTime != null">,login_time = #{loginTime}</if>

            where user_id = #{userId}
        </update>

        <insert id="addUser" parameterType="com.protectdev.manage.pojo.User">
            insert into `user`(job_id, name, permission, phoneNum)
            VALUES (#{jobId},#{name},#{permission},#{phoneNum})

        </insert>

        <delete id="deleteUser" parameterType="int">
            delete from `user`
            where user_id = #{userId}

        </delete>
</mapper>